<h1>Edit Schedule</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.schedule_path(@conn, :update, @schedule)) %>

<span><%= link "Back", to: Routes.schedule_path(@conn, :index) %></span>
