<h1>Редактировать Расписание</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.schedule_path(@conn, :update, @schedule)) %>

<span><%= link "К списку", to: Routes.schedule_path(@conn, :index) %></span>
