<h1>Edit New node</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.new_node_path(@conn, :update, @new_node)) %>

<span><%= link "Back", to: Routes.new_node_path(@conn, :index) %></span>
