<h2>Edit New node</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.new_node_path(@conn, :update, @new_node)) %>

<span><%= link "К списку", to: Routes.new_node_path(@conn, :index) %></span>
