<h2>Редактировать класс</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.script_path(@conn, :update, @script)) %>

<span><%= link "К списку", to: Routes.script_path(@conn, :index) %></span>
