<h1>Редактировать Скрипт</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.script_path(@conn, :update, @script)) %>

<span><%= link "Назад", to: Routes.script_path(@conn, :index) %></span>
