<h1>Edit Template</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.template_path(@conn, :update, @template)) %>

<span><%= link "Back", to: Routes.template_path(@conn, :index) %></span>
