<h2>Редактировать Шаблон</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.template_path(@conn, :update, @template)) %>

<span><%= link "К списку", to: Routes.template_path(@conn, :index) %></span>
