<h2>Новый фильтр</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.filter_path(@conn, :create)) %>

<span><%= link "К групповым операциям", to: Routes.grp_oper_path(@conn, :index) %></span>
