<%= render "header.html", assigns %>

<div id="osm" data-latitude="<%= @center_lat %>" data-longitude="<%= @center_lng %>"
  data-markers='<%= @markers %>' data-bounds='<%= @bounds %>'
class="my-3" style="height:84vh"></div>
