<h2>Редактировать заметку</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.note_path(@conn, :update, @note)) %>

<span><%= link "К списку", to: Routes.note_path(@conn, :index) %></span>
