<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>Богатка</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/a4.css") %>"/>
  </head>
  <body>

    <%
      nodes =  String.split(@clients_list, ",")
        |> Enum.map(fn id -> AcariServer.NodeManager.get_node_hash(id) end)
        |> Enum.chunk_every(3,3,[nil, nil])
      url = AcariServer.SysConfigManager.get_conf_by_key("system.url.mobile") ||
        "http://localhost"
    %>

    <%= for triple <- nodes do %>
      <div class="pt-5 nonbreak row">
      <%= for %{hash: hash, name: name, description: description, address: address} <- triple do %>
          <div class="d-flex flex-column align-items-center col-4">
            <svg width="200" height="200" class="p-0">
              <%= raw(url<>"/client/"<>hash |> EQRCode.encode() |> EQRCode.svg(width: 200)) %>
            </svg>
            <div class="px-3">
              <%= name %></br>
              <%= description %></br>
              <%= address %></br>
              <%= hash %>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>



  </body>
</html>
