<h1>Параметры Узла</h1>

<ul>

  <li>
    <strong>Имя:</strong>
    <%= @node.name %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @node.description %>
  </li>

  <li>
    <strong>Параметры:</strong>
    <%= @node.params %>
  </li>

  <li>
    <strong>Группы:</strong>
    <%= groups_list(@node) %>
  </li>

</ul>

<span><%= link "Редактировать", to: Routes.node_path(@conn, :edit, @node) %></span>
<span><%= link "Назад", to: Routes.node_path(@conn, :index) %></span>
