<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AcariServer · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>


  <body>
    <nav class="navbar navbar-expand navbar-dark flex-sm-nowrap p-0 shadow justify-content-between"
          style="background-color: #305478;">
      <a class="navbar-brand col col-md-2 mr-0" href="#">NSG</a>
      <div class="navbar-nav px-3 d-flex flex-wrap">
        <a class="nav-link ml-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Сообщения<span class="badge badge-warning mr-2 ml-1">5</span></a>
        <span class="navbar-text"><%= username(@conn) %></span>
        <%= link to: Routes.session_path(@conn, :logout),class: "nav-link", method: :logout, data: [confirm: "Вы уверены?"] do %>
            <i class="fa fa-sign-out"></i> Выйти
        <% end %>

      </div>
    </nav>

    <nav class = "navbar d-block d-md-none navbar-light">
      <span class="navbar-text font-weight-bold">Меnu</span>
      <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <%= render "menu.html", assigns %>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <%= render "menu.html", assigns %>
          </div>
        </nav>

        <div class="col-md-10 ml-sm-auto px-4 bg-light pt-3 flex-grow-1">
          <div class="row d-flex flex-wrap-reverse">
            <main role="main" class="col px-0 px-lg-4">
              <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              <%= render @view_module, @view_template, assigns %>
            </main>

            <div class="col-lg-3 col-12 collapse show p-0" id="collapseExample">
              <h5>Сообщения:</h5>
                    <ul class="list-group p-0" id="event-log">
                      <li class="list-group-item list-group-item-danger p-1">
                        <p>
                          <strong>12:34 Вольная, 35</br></strong>
                          Отключено
                      </p>
                      </li>
                      <li class="list-group-item list-group-item-danger p-1">
                        <p>
                          <strong>11:22 Ленина, 1</strong></br>
                          Отключено
                        </p>
                      </li>
                      <li class="list-group-item list-group-item-danger p-1">
                        <p>
                          <strong>09:15 Перекреcток, Щербвковская</br></strong>
                          Отключено
                        </p>
                      </li>
                      <li class="list-group-item list-group-item-warning p-1">
                        <p>
                          <strong>12:37 Урюпинск, Дикси</br></strong>
                          Модуль BEELINE: нет связи
                        </p>
                      </li>
                      <li class="list-group-item list-group-item-warning p-1">
                        <p>
                          <strong>07:34 Сколково</br></strong>
                          Модуль MEGAFON: нет связи
                        </p>
                      </li>
                    </ul>

            </div>
          </div>
        </div>


      </div>
    </div>




    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
