<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AcariServer · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>


  <body>
    <nav class="navbar navbar-expand navbar-dark flex-sm-nowrap p-0 shadow justify-content-between"
          style="background-color: #305478;">
      <a class="navbar-brand col col-md-2 mr-0" href="#">NSG</a>
      <div class="navbar-nav px-3 d-flex flex-wrap">
        <a class="nav-link ml-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Сообщения<span class="badge badge-warning mr-2 ml-1">5</span></a>
        <span class="navbar-text">Admin</span>
        <a class="nav-link" href="#">Выход</a>
      </div>
    </nav>

    <nav class = "navbar d-block d-md-none navbar-light">
      <span class="navbar-text font-weight-bold">Меnu</span>
      <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <%= render "menu.html", assigns %>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <%= render "menu.html", assigns %>
          </div>
        </nav>

        <div class="col-md-10 ml-sm-auto px-4 bg-light pt-3 flex-grow-1">
          <div class="row d-flex flex-wrap-reverse">
            <main role="main" class="col">
              <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              <%= render @view_module, @view_template, assigns %>
            </main>

            <div class="col-xl-2 col-lg-3 col-12 collapse show px-0" id="collapseExample">
              <h5>Сообщения:</h5>
                    <ul class="list-group " id="event-log">
                      <li class="list-group-item list-group-item-danger">
                        <h6>12:34 ATM00234545</h6>
                        <p>Отключено<p>
                        <p>Вольная, 35<p>
                      </li>
                      <li class="list-group-item list-group-item-danger">
                        <h6>11:22 ATM00234777</h6>
                        <p>Отключено<p>
                          <p>Ленина, 1<p>
                      </li>
                      <li class="list-group-item list-group-item-danger">
                        <h6>09:15 ATM00212345</h6>
                        <p>Отключено<p>
                        <p>Перекреток, Щербвковская<p>
                      </li>
                      <li class="list-group-item list-group-item-warning">
                        <h6>12:37 ATM00234111</h6>
                        <p>Модуль BEELINE: нет связи<p>
                        <p>Урюпинск, Дикси<p>
                      </li>
                      <li class="list-group-item list-group-item-warning">
                        <h6>07:34 ATM00234222</h6>
                        <p>Сколково<p>
                      </li>
                    </ul>

            </div>
          </div>
        </div>


      </div>
    </div>




    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
