
<%= for [server, mes_list] <- get_mes() do %>
  <%= server %>
  <%= for {alert, header, body} <- mes_list do %>
    <li class="list-group-item list-group-item-<%= alert %> p-1">
      <p>
        <strong><%= header %></br></strong>
        <%= body %>
      </p>
    </li>
  <% end %>
<% end %>
