<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Богатка", suffix: " · NSG" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@socket, "/css/qr_print_live.css") %>"/>
    <script defer phx-track-static type="text/javascript"
      src="<%= Routes.static_path(@socket, "/js/qr_print_live.js") %>">
    </script>
  </head>



  <body>
  <div class="qr-container">
    <div class="qr-menu noprint">
      <div>
        <form phx-submit="draw">
          <div class="row qr-pads">
            <div class="column"><input type="text" name="cols" value="<%= @cols %>"> </div>
            <div class="column" style="text-align: center">X</div>
            <div class="column"><input type="text" name="rows" value="<%= @rows %>"> </div>
          </div>

          <%= for {t, n, v} <- [{"Верх", "top", @top},
                                {"Низ", "bottom", @bottom},
                                {"Лево", "left", @left},
                                {"Право", "right", @right},
                                {"Зазор", "gap", @gap}
                              ] do %>
            <div class="row qr-pads">
              <div class="column"><%= t %></div>
              <div class="column"><input type="text" name="<%= n %>" value="<%= v %>"> </div>
              <div class="column">мм</div>
            </div>
          <% end %>
          <div class="row qr-pads">
            <div class="column">Масштаб</div>
            <div class="column"><input type="text" name="scale" value="<%= @scale %>"> </div>
            <div class="column">%</div>
          </div>
          <div style="display: flex; align-items: flex-start">
            <% checked = if @text_up, do: "checked", else: "" %>
            <div style="margin-right: 1rem;">Текст сверху</div> <input type="checkbox" name="text_up"  <%= checked %>>
          </div>
          <div style="display: flex; align-items: flex-start">
            <% checked = if @border, do: "checked", else: "" %>
            <div style="margin-right: 1rem;">Рамка</div> <input type="checkbox" name="border"  <%= checked %>>
          </div>

          <button  type="submit">
            Применить
          </button>
        </form>

        <%= if false && @save_prof do %>
          <form phx-submit="save">
            Сохранить профиль
            <input type="text" name="profile_name" placeholder="Введите имя профиля">
            <button  type="submit">
              Сохранить
            </button>
          </form>
        <% end %>
        <p><%= @save_err %></p>
      </div>
    </div>
    <%= if @qr_list do %>
      <div class="qr-body">
        <%
          qr_pages = @qr_list |> Enum.chunk_every(@qr_for_page, @qr_for_page)
        %>
        <%= for qr_list <- qr_pages do %>
          <qr-page size="A4" class="qr-print"
            style="padding-top:<%= @top %>mm; padding-bottom:<%= @bottom %>mm; padding-left:<%= @left %>mm; padding-right:<%= @right %>mm;">
            <div class="qr-labels"
                style="grid-gap:<%= @gap %>mm;grid-template-columns: repeat(<%= @cols %>, 1fr);grid-template-rows: repeat(<%= @rows %>, 1fr);">
              <%= for %{name: name, qr_svg: qr_svg} <- qr_list do %>
                <%
                  svg_size = @svg_size * int(@scale) / 100
                  svg_style = if @text_up, do: "",
                    else: "grid-template-columns: 1fr #{svg_size}mm;"

                  border = if @border, do: "border: 1px solid;", else: "margin: 1px;"
                %>

                <div class="qr-element" style="<%= svg_style %> <%= border %>">
                  <div class="qr-label-header"><%= name %></div>
                  <div class="qr-label-qr">
                    <svg width="<%= svg_size %>mm" height="<%= svg_size %>mm" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <%= raw(qr_svg) %>
                    </svg>
                  </div>
                </div>
              <% end %>
            </div>
          </qr-page>
        <% end %>
      </div>
    <% else %>
      <h3>Подождите, идет генерация QR кодов (<%= length(@node_ids) %>)...</h3>
    <% end %>
  </div>
  </body>
</html>
