<div class="row d-flex align-items-center">
  <label class="col-sm-4 col-form-label"><%= @name %></label>
  <input class="col-sm-7 p-0 text-<%= @color %>" type="text" name="q" value="<%= @value %>"
    phx-focus="input_focus" phx-blur="input_blur"
    phx-target="<%= @myself %>"
    placeholder="Введите значение"/>
  <a phx-click="save" phx-target="<%= @myself %>"
     class="col-sm-1" href="#"><i class="far fa-save mx-1"></i></a>
</div>
