<h2>Системная конфигурация</h2>



<%= for %{key: key} = config <- @sysconfig do %>
    <%= live_component @socket, AcariServerWeb.SysConfigLive.StringComponent,
          id: key, config: config%>
<% end %>
