<h2>Системная конфигурация</h2>

<%= for %{key: key, type: type} = config <- @sysconfig do %>
  <%
    module = case type do
      :boolean -> AcariServerWeb.SysConfigLive.BooleanComponent
      :select -> AcariServerWeb.SysConfigLive.SelectComponent
      _ -> AcariServerWeb.SysConfigLive.StringComponent
    end
  %>
  <%= live_component @socket, module, id: key, config: config %>
<% end %>
