<h1>Параметры Группы</h1>

<ul>

  <li>
    <strong>Имя:</strong>
    <%= @group.name %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @group.description %>
  </li>

  <li>
    <strong>Узлы:</strong>
    <%= @group.nodes |> Enum.map(fn %{name: name} -> name end) |> Enum.join(",") %>
  </li>

</ul>

<span><%= link "Редактироать", to: Routes.group_path(@conn, :edit, @group) %></span>
<span><%= link "Назад", to: Routes.group_path(@conn, :index) %></span>
