<option value="nil">Все</option>
<option disabled="disabled">─────────────</option>
<% classes = @class_list
    |> Enum.reject( fn  nil -> true
                        _ -> false
                    end)
    |> Enum.sort_by(fn {_, name} -> name end)
%>
<%= for {id, name} = _class <- classes do %>
  <option value="<%= id %>" ><%= name %></option>
<% end %>
