<h2>Редактирование Пользователя</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "К списку", to: Routes.user_path(@conn, :index) %></span>
