<h1>Параметры Пользователя</h1>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

  <li>
    <strong>Is admin:</strong>
    <%= @user.is_admin %>
  </li>

</ul>

<span><%= link "Редактировать", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Назад", to: Routes.user_path(@conn, :index) %></span>
